<div class="container">

  {% include "qa/header.html" %}

  {% if message %}
  <strong>Enter a valid comment!</strong>
  {% endif %}

  {% if user.is_authenticated %}

  <form id="add_q" method="post" action="/comment/{{ answer_id }}/">
    {% csrf_token %}
    <input class="input-lg" style="width:100%" placeholder="Enter your comment....." type="text" name="comment"/> <br/><br/>
    <input type="hidden" value="{{ user.id }}" name="user" />
    <input class="btn pull-right btn-success" type="submit" value="Submit Comment" />
  </form>
  <p>Note. Comment cannot be empty!</p>
  {% else %}
  <small><a href="/login">Please Login to Add comment!</a></small>
  {% endif %}

</div>

{% include "qa/footer.html" %}
