{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% load django_markdown %}

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<style>
cool {
  font-family: 'Lobster', cursive;
}
</style>

<div class="container">
<div class="page-header">
  <h1><a href="/">Simple QA </a><small>Open Questions</small></h1>
</div>

<div class="jumbotron">
  <p class="pull-right">{{ question.pub_date }}</p>
  <h2><cool>Q: {{ question.question_text }}</cool></h2>
  <p><a class="btn btn-primary btn-sm pull-right" href="/answer/{{ question.id }}" role="button">Answer this Question!</a></p>
</div>

{% if answers %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Answers</h3>
  </div>
  <div class="panel-body">
    {% for answer in answers %}
    <div class="row">
      {% if user.is_authenticated %}
      <div class ="col-md-1"><h3><a href="/vote/{{ answer.id }}/{{ question.id }}/0/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a> {{ answer.votes }} <a href="/vote/{{ answer.id }}/{{ question.id }}/1/"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></h3></div>
      {% endif %}
      <div class ="col-md-8">
        <a href="/comment/{{ answer.id }}/" class="pull-right"><small><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment &nbsp;</small></a>

        {% if answer.votes > 0 %}
        <div id="ans" class="alert alert-info" role="alert">{{ answer.answer_text|markdown }}</div>
        {% elif answer.votes == 0 %}
        <div id="ans" class="alert alert-warning" role="alert">{{ answer.answer_text|markdown }}</div>
        {% else %}
        <div id="ans" class="alert alert-danger" role="alert">{{ answer.answer_text|markdown }}</div>
        {% endif %}

          {% for comment in answer.comment_set.all %}
          <p>-<b>{{ comment.comment_text }}</b><small>, <a href="/profile/{{ comment.user_data.user.id }}">{{ comment.user_data.user.username }}</a> at {{ comment.pub_date }}</small></p>
          {% endfor %}
      </div>
      <div class ="col-md-3"><p class="pull-right">- <b><a href="/profile/{{ answer.user_data.user.id }}">{{ answer.user_data.user.username }}</a> ({{ answer.user_data.points }})</b> ({{ answer.pub_date }})</p></div>
    </div>

    {% endfor %}
  </div>
</div>

<div class="pagination">
  <span class="step-links">
    {% if answers.has_previous %}
    <a href="?page={{ answers.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
    </span>

    {% if answers.has_next %}
    <a href="?page={{ answers.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>

{% else %}
<img class="pull-right" src="{% static "qa/question.jpg" %}" alt="question"/>
<center><h2>This question is still open, <a href="/answer/{{ question.id }}" role="button">Write answer!</a></h2></center>
{% endif %}

</div>
<hr>
<center>
  {% if user.is_authenticated %}
  <small>Logged in as <b>{{ user.username }}</b> ( <a href="/logout/">Logout</a> )</small>
  {% else %}
  <small><a href="/login">Login</a></small>
  {% endif %}
  | <a href="/admin">Admin Panel</a></small></center>
