{% load bootstrap3 %}

{% bootstrap_css %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

{% bootstrap_javascript %}

<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

<style>
.ques {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
tag {
  background-color:#E0E0E0;
  color:#500000;
}


#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

</style>
<script>
$(function () {
  $('a[href="#search"]').on('click', function(event) {
    event.preventDefault();
    $('#search').addClass('open');
    $('#search > form > input[type="search"]').focus();
  });

  $('#search, #search button.close').on('click keyup', function(event) {
    if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
      $(this).removeClass('open');
    }
  });

});
</script>

<div class="container">
<div class="page-header">
  <a class="btn btn-lg btn-warning pull-right" href="#search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find</a><a class="btn btn-lg btn-danger pull-right" href="/add/">Ask Question</a><h1><a href="/">Simple QA </a><small>Open Questions</small></h1>
</div>

{% if questions %}
<ul>
  {% for question in questions %}
  <li>{% if question.answer_set.count %}<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>{% endif %} <a class="ques" href="/q/{{ question.id }}/">{{ question.question_text }}</a><small class="pull-right"> {{ question.pub_date}}</small></li>
  <small>{{ question.answer_set.count }} Answers | {{ question.views }} Views</small>
    {% for tag in question.tags.all %}
      <tag>{{ tag.slug }}</tag>
    {% endfor %}
  {% endfor %}
</ul>

<div class="pagination">
  <span class="step-links">
    {% if questions.has_previous %}
    <a href="?page={{ questions.previous_page_number }}">< Previous | </a>
    {% endif %}

    <span class="current">
      Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
    </span>

    {% if questions.has_next %}
    <a href="?page={{ questions.next_page_number }}"> | Next ></a>
    {% endif %}
  </span>
</div>

{% else %}
<p>No Questions are available.</p>
{% endif %}

</div>

<hr>
<center>
  {% if user.is_authenticated %}
  <small>Logged in as <b>{{ user.username }}</b> ( <a href="/profile/{{ user.id }}">My Profile</a> | <a href="/logout/">Logout</a> )</small>
  {% else %}
  <small><a href="/login">Login</a></small>
  {% endif %}
 | <a href="/admin">Admin Panel</a></small></center>
 <br/><br/>

 <div id="search">
   <button type="button" class="close">×</button>
   <form method="post" action="/search/">
     {% csrf_token %}
     <input type="search" value="" name="word" placeholder="type keyword(s) here" />
     <input class="btn btn-lg btn-warning" type="submit" value="Find" />
   </form>
 </div>
