{% load bootstrap3 %}

{% bootstrap_css %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

{% bootstrap_javascript %}

<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

<style>

.ques {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.ans {
  height: 40px;
  width: 75px;
  color:#500000;
  text-align: center;
  text-align: center;
  vertical-align: middle;
}

tag {
  background-color:#E0E0E0;
  color:#500000;
}


#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

</style>
<script>
$(function () {
  $('a[href="#search"]').on('click', function(event) {
    event.preventDefault();
    $('#search').addClass('open');
    $('#search > form > input[type="search"]').focus();
  });

  $('#search, #search button.close').on('click keyup', function(event) {
    if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
      $(this).removeClass('open');
    }
  });

});
</script>

<div class="container">
  
<div class="page-header">
  <a class="btn btn-lg btn-warning pull-right" href="#search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find</a><a class="btn btn-lg btn-danger pull-right" href="/add/">Ask Question</a><h1><a href="/">Simple QA </a><small>Open Questions</small></h1>
</div>

<div class="col-md-8">
{% if questions %}
  {% for question in questions %}
  <div class="row">
  <div class="col-sm-1 ans"><small><div class="ques">{{ question.answer_set.count }}</div>Answers</small></div>
  <div class="col-sm-1 ans"><small><div class="ques">{{ question.views }}</div>Views</small></div>
  <p>
    {% if question.answer_set.count %}<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>{% endif %} <a class="ques" href="/q/{{ question.id }}/">{{ question.question_text }}</a>
    <br/>
    {% for tag in question.tags.all %}
    <tag>{{ tag.slug }}</tag>
    {% endfor %}
    <small> {{ question.pub_date}}</small>
  </p>
</div>
<hr>
  {% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if questions.has_previous %}
    <a href="?page={{ questions.previous_page_number }}">< Previous | </a>
    {% endif %}

    <span class="current">
      Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
    </span>

    {% if questions.has_next %}
    <a href="?page={{ questions.next_page_number }}"> | Next ></a>
    {% endif %}
  </span>
</div>

{% else %}
<p>No Questions are available.</p>
{% endif %}

</div>

<div class="col-md-4">

  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Total Questions: {{ totalcount }}</h4>
      <h4>Total Answers: {{ anscount }}</h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Recent Tags</h3>
    </div>
    <div class="panel-body">
      {% for question in questions %}
      {% for tag in question.tags.all %}
      <tag>{{ tag.slug }}</tag>
      {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Unanswered Questions</h3>
    </div>
    <div class="panel-body">
    <ul>
      {% for question in noans %}
      <li><a href="/q/{{ question.id }}/">{{ question.question_text }}</a></li>
      {% endfor %}
    </ul>
    </div>
  </div>

  {% if user.is_authenticated %}

  <div class="span3 well">
    <center>
      <a href="/profile/{{ user.id }}" data-toggle="modal"><img src="/static/qa/user.png" name="aboutme" width="100" height="100" class="img-circle"></a>
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <a href="/profile/{{ user.id }}">My Profile</a> |
      <a href="/logout/">Logout</a>
    </center>
  </div>
  {% else %}
  <a class="btn btn-block btn-success" href="/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login | Sign Up</a><br/>
  {% endif %}

</div>
</div>
<hr>
<center>
<a href="/admin">Admin Panel</a></small></center>
 <br/><br/>

 <div id="search">
   <button type="button" class="close">×</button>
   <form method="post" action="/search/">
     {% csrf_token %}
     <input type="search" value="" name="word" placeholder="type keyword(s) here" />
     <input class="btn btn-lg btn-warning" type="submit" value="Find" />
   </form>
 </div>
